  input {
    font-family: Oswald;
  }

  container {
    background-color: #5372F0;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }

  .cards-container{
    gap: 1rem;
}
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
    font-size: larger;
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    font-size: larger;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  body {
    color: #333;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
}

  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

  h1 h2 h3 h4 h5 h6 {
    font-family: Oswald;
  }

  .card {
    background-image: url("https://i.imgur.com/dpqZJV5.jpg");
    background-size: cover;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    font-family: Oswald;
    box-shadow: 0px 8px 16px 4px #854646;
    margin-top: 50px;
    margin-bottom: 50px;
}

  .days-forecast .h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .days-forecast .weather-cards {
    display: flex;
    gap: 20px;
  }
  
  .weather-input {
    width: 550px;
  }
  .weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
  }
  .weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weather-input .separator::before{
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
  }
  .weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Oswald;
    color: #fff;
    background: #5372F0;
    transition: 0.2s ease;
  }
  .weather-input .search-btn:hover {
    background: #2c52ed;
  }
  .weather-input .location-btn {
    background: #6C757D;
  }
  .weather-input .location-btn:hover {
    background: #5c636a;
  }


  .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 {
     gap: 1rem !important;
}