<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body class="body">
    <div class="container">
        <h1>Weather App</h1>
        <div class="weather-input">
            <form action="get_weather" method="post">
                <input type="text" name="CityName" placeholder="Enter a location" size="30" required>
                <button onclick="" name="searchButton">Search</button><br><br>
                <a href="/logout" class="btn btn-outline-danger" name="logoutButton">Logout</a>
            </form>
        </div>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="cards-container row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% if resp %}
                    {% for i in range(8) %}
                    <div class="card shadow-sm">
                        <div class="card-body" style="background-color: aquamarine;">
                        <p>Date: {{resp.days[i].datetime}}</p>
                        <p>Location: {{resp.address}}</p>
                        <p>Country: {{resp.resolvedAddress}}</p>
                        <p>Temperature at day: {{resp.days[i].tempmax}}</p>
                        <p>Temperature at night: {{resp.days[i].tempmin}}</p>
                        <p>Humidity: {{resp.days[i].humidity}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if invalid_location %}
            <p>
            <h3 id="invalid_location">The location is invalid!</h3>
            </p>
            {% endif %}

        </div>
    </div>
</body>

</html>