<!DOCTYPE html>
<html>

<body>

  <h2>Logi to weather app</h2>

  <form action="/login" method="post">
    <h3 name="username">Username:</h3>
    <input type="text" name="UserName">

    <h3 name="password">Password:</h3>
    <input type="password" name="Password"><br><br>

    <button type="submit" name="Login">Login</button>
    <a href="/signup">Sign Up</a>
    <div class="container">
      {% if user_not_exist %}
      <p>
        <h3>Username don't exist</h3>
      </p>
      {% endif %}
    </div>
  </form>


</body>

</html>
